[Desktop Entry]
Type=Application
Name=Quill
Comment=Unofficial Telegram desktop client
Exec=quill %u
Icon=quill
Terminal=false
Categories=Network;Chat;
MimeType=x-scheme-handler/tg;
